@import '../../variables.scss';

mat-card {
  background-color: $dark_blue;
  color: $white;
}

.eki-logo {
  width: 100%;
  margin: auto;
  max-width: 400px;
}

.row {
  margin: 5px 1px;
}

.mat-card-actions {
  text-align: center;
}
