<content>
  <div class="row">
    <div class="bloc bloc-title">

    </div>
    <div class="cards-container">
      <mat-card class="professional-card">
        <mat-card-header class="eki-logo">
          <mat-card-title>  <img  style="width:100%;" src="/assets/Eki.svg" alt="Do connections that bad still exist ? "> </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="important-text">
            Full-stack developer, stage de 6 mois
          </div>
          <p>
            Responsable du logiciel de gestion interne, développement d’application pour L’Oréal et Ekimetrics.
          </p>

          <p>
            Stacks : Rails, AngularJS, Angular 2, postgreSQL
          </p>
        </mat-card-content>
        <mat-card-actions>
          Août 2018 - Février 2019
        </mat-card-actions>
      </mat-card>
    </div>
    </div>

  <div class="row">

  </div>
  <div class="row">

  </div>
</content>
