<content>
  <div class="row">
    <div class="bloc bloc-title">
       Expériences professionnelles
    </div>
    <div class="cards-container">
      <mat-card class="professional-card">
        <mat-card-header class="logo">
          <mat-card-title>  <img  style="height:55px;" src="/assets/Eki.svg" alt="Do connections that bad still exist ? "> </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="important-text">
            Full-stack developer, stage de 6 mois
          </div>
          <p>
            Responsable du logiciel de gestion interne, développement d’application pour L’Oréal et Ekimetrics.
          </p>

          <p>
            Stacks : Rails, AngularJS, Angular 2, postgreSQL
          </p>
        </mat-card-content>
        <mat-card-actions>
          Août 2018 - Février 2019
        </mat-card-actions>
      </mat-card>

      <mat-card class="professional-card">
        <mat-card-header class="logo">
          <mat-card-title>  <img  style="height:55px;  background-color: white;" src="/assets/coincodex.png" alt="Do connections that bad still exist ? "> </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="important-text">
            Rédaction de newsletters
          </div>
          <p>
            Rédacteur d’articles sur le thème des cryptomonnaies. Analyse de données et utilisation d’API.
          </p>
        </mat-card-content>
        <mat-card-actions>
          Premier semestre 2018
        </mat-card-actions>
      </mat-card>

      <mat-card class="professional-card">
        <mat-card-header class="logo">
          <mat-card-title>  <img  style="height:55px;" src="/assets/enedis.png" alt="Do connections that bad still exist ? "> </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="important-text">
            Stage ouvrier
          </div>
          <p>
            Réparateur de compteurs électriques.
          </p>

        </mat-card-content>
        <mat-card-actions>
          Février 2017
        </mat-card-actions>
      </mat-card>

    </div>
    </div>

    <div class="row">
      <div class="bloc bloc-title">
         Projets notables d'informatique
      </div>
      <div class="cards-container">
        <mat-card class="project-card">
          <mat-card-header class="logo">
            <mat-card-title>
              <div class="important-text">
              Projet vélo connectés
            </div>
           </mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <p>
              Développement d’un jeu vidéo de vélo commandé par un vrai vélo. Prix coup de coeur du jury du concours nouvelles technologies.
            </p>
          </mat-card-content>
          <mat-card-actions>
            C#, unity 3D, blender
          </mat-card-actions>
        </mat-card>

        <mat-card class="project-card">
          <mat-card-header class="logo">
            <mat-card-title>  <div class="important-text">
            Logiciel de gestion de bar
          </div>
         </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Logiciel en cours de développement pour le bar de l’école. API en back séparée entièrement du front pour adaptation mobile.
            </p>
          </mat-card-content>
          <mat-card-actions>
            node.js, angularjs, mySQL
          </mat-card-actions>
        </mat-card>

        <mat-card class="project-card">
          <mat-card-header class="logo">
            <mat-card-title>  <div class="important-text"> Extraction d’axe médian </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Optimisation de trajet d’une buse en impression 3D via des calculs de graphe. Travaux d’optimisations en opérations élémentaires.
            </p>

          </mat-card-content>
          <mat-card-actions>
            C / C++
          </mat-card-actions>
        </mat-card>

      </div>
      </div>

    <div class="row">
      <div class="bloc bloc-title">
         Intérêts personnels
      </div>
      <div class="cards-container">
        <mat-card class="interest-card">
          <mat-card-header class="logo">
            <mat-card-title>
              <div class="important-text">
                Inforamatique
              </div> </mat-card-title>
          </mat-card-header>
          <mat-card-content style="text-align: center;">
            <img style="width: 100%; max-width: 220px;" src="/assets/logos.png" alt="Tout plein de logos partout ">
          </mat-card-content>
        </mat-card>

        <mat-card class="interest-card">
          <mat-card-header class="logo">
            <mat-card-title>  <div class="important-text">
              Loisirs
            </div> </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span class="important-text">Piano </span>: pratique depuis l’âge de 7 ans, participations à des récitals.<br>
            <span class="important-text">Randonnée </span>: excursions fréquentes, séjours en tente.<br>
            <span class="important-text">Athlétisme </span>: sport en club pendant 2 ans.

          </mat-card-content>
        </mat-card>

        <mat-card class="interest-card">
          <mat-card-header class="logo">
            <mat-card-title>  <div class="important-text">
              Langues
            </div></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span class="important-text">Français </span>: natif.<br>
            <span class="important-text">Anglais </span>: natif, C2 validé par le Cambridge proficiency exam.<br>
            <span class="important-text">Espagnol </span>: scolaire.






          </mat-card-content>
        </mat-card>

      </div>
      </div>

</content>
