<content>
  <div class="row">
    <div class="colored-block left">
      <div class="cards-container">

        <mat-card class="info-card">
          <mat-card-header>
            <div mat-card-avatar class="fas fa-at"></div>
            <mat-card-title class="important-text">Adresse mail</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              <a href="mailto:a.bouzigues@outlook.fr?Subject=Candidature%20stage%20de%20c%E9sure" style="color: white" target="_top">a.bouzigues@outlook.fr</a>
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="info-card">
          <mat-card-header>
            <div mat-card-avatar class="fas fa-phone"></div>
            <mat-card-title class="important-text">Téléphone</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              <a href="tel:0621983003" style="color: white"> 06 21 98 30 03 </a>
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="info-card">
          <mat-card-header>
            <div mat-card-avatar class="fas fa-home"></div>
            <mat-card-title class="important-text">Adresse postale</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p> 182b rue de Charenton <br> Paris 12ème </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="keyword-card-container">
        <mat-card class="info-card">
          <mat-card-header>
            <div mat-card-avatar class="far fa-address-card"></div>
            <mat-card-title class="important-text">Keywords</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Volontaire, perfectionniste, team-worker, esprit hacker, entrepreneur.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="colored-clock right">
      <div class="column column-light">
        <div class="block topblock">
          <i class="fas fa-graduation-cap"></i>
          <div class="important-text" style="text-align: center; font-size: 3vh;"> School </div>
        </div>
        <div class="cards-container">

          <mat-card class="cursus-card">
            <mat-card-header>
              <div mat-card-avatar> 2016<br>-2020</div>
              <mat-card-title class="important-text">Mines de Nancy</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Département informatique et systèmes.
              </p>
            </mat-card-content>
          </mat-card>

          <mat-card class="cursus-card">
            <mat-card-header>
              <div mat-card-avatar> 2014<br>-2016</div>
              <mat-card-title class="important-text">Prépa MP*-info</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Lycée Joffre, Montpellier.
              </p>
            </mat-card-content>
          </mat-card>

          <mat-card class="cursus-card">
            <mat-card-header>
              <div mat-card-avatar> 2014</div>
              <mat-card-title class="important-text">Bac S mention TB</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Option maths, euro anglais (physique-chimie).
              </p>
            </mat-card-content>
          </mat-card>

          <mat-card class="cursus-card">
            <mat-card-header>
              <div mat-card-avatar> 2011</div>
              <mat-card-title class="important-text">Etranger</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Scolarité du second semestre de seconde en Californie.
              </p>
            </mat-card-content>
          </mat-card>

        </div>
      </div>
      <div class="column column-dark">
        <div class="block topblock">
          <i class="fas fa-hands-helping"></i>
          <div class="important-text" style="text-align: center; font-size: 3vh;"> Clubs </div>
        </div>
        <div class="cards-container">

          <mat-card class="cursus-card">
            <mat-card-header>
              <mat-card-title class="important-text">Trésorier du foyer des élèves</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Élaboration du budget, analyse de viabilité des projets, service au foyer.
              </p>
            </mat-card-content>
          </mat-card>

          <mat-card class="cursus-card">
            <mat-card-header>
              <mat-card-title class="important-text">TEDx MinesNancy </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Pôles labs et logistique: organisation de différents stands interactifs pour l’évènement.
              </p>
            </mat-card-content>
          </mat-card>

          <mat-card class="cursus-card">
            <mat-card-header>
              <mat-card-title class="important-text">Junior entreprise</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Poste de responsable du pôle développement commercial, définition chiffrée des objectifs.
              </p>
            </mat-card-content>
          </mat-card>

        </div>
      </div>
    </div>
  </div>
</content>
