@import '../../variables.scss';

content {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.colored-block {
  display: flex;
  flex: 1 1 50%;
  padding: 0px;
  padding-top: 15px;
}
.fa-address-card::before {
  text-align: center;
}

.left .mat-card-avatar {
  font-size: 3vh;
}

.right .mat-card-avatar {
  line-height: 100%;
}

.cards-container {
  display: block;
}

.keyword-card-container {
  display: block;
  flex-shrink: 1;
}

.column-light {
  background-color: $orange;
}
.column-dark {
  background-color: $orange_dark;
}

.cursus-card{
  background-color: $white;
  color: $indigo;
  margin:10px;
}

.block {

}

.topblock {
  color: $white;
  i {
    text-align: center;
    display: block;
    font-size: 10vh;
  }
  max-width: 200px;
}

.column {
  min-width:300px;
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $white;
}

.left {
  min-width: 300px;
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $indigo;
  color: $white;
}

.info-card {
  background-color: #5dc6d2;
  color: $white;
  margin:10px;
}

.row {
  width: 100%;
  margin:0px;
}

mat-card {
  font-family: 'Arial'
}

.right {
  padding-top: 15px;
  flex-wrap: wrap;
  min-width: 300px;
  flex: 1 1 50%;
  background-color: $orange;
  display: flex;
  flex-direction: row;
}
