<content>
  <div class="row">
    <div class="colored-block left">
      <div class="cards-container">

        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="fas fa-at"></div>
            <mat-card-title>Addresse mail</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              a.bouzigues@outlook.fr
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="fas fa-phone"></div>
            <mat-card-title>Téléphone</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              06 21 98 30 03
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="fas fa-home"></div>
            <mat-card-title>Addresse postale</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p> 182b rue de Charenton </p>
            <p> Paris 12 </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="keyword-card-container">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="far fa-address-card"></div>
            <mat-card-title>Keywords</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Volontaire, perfectionniste, team-worker, esprit hacker, entrepreneur.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="colored-clock right">

    </div>
  </div>
</content>
