<content>
  <div class="block-container">

    <div class="block bigfont-block">
      <p> Demande  <span>
      </span> de  <span>
      </span> Stage de Césure  </p>
    </div>

    <div class="block svg-block" id="navbar-block">
      <img style="width: 100%; height: 100%" src="/assets/FSdev.svg" alt="Do connections that bad still exist ? ">
    </div>

    <div class="block info-block regular-font">
      <div class="internship-title">
        <p> Fullstack Web Developer <span>
        </span> Ingénieur Mines Nancy  </p>
      </div>
      <div class="internship-date">
      <p>   6 mois à partir  <span>
      </span> de mars 2019 </p>
      </div>

    </div>

  </div>
</content>
